doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title "ref" documentation v#{package.version}
    meta(name="description", content="Turn Buffer instances into \"pointers\"")
    meta(name="author", content="Nathan Rajlich")

    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    link(rel="stylesheet", href="stylesheets/base.css")
    link(rel="stylesheet", href="stylesheets/skeleton.css")
    link(rel="stylesheet", href="stylesheets/layout.css")

    link(rel="shortcut icon", href="images/favicon.ico")
    link(rel="apple-touch-icon", href="images/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="images/apple-touch-icon-114x114.png")

  body
    .container
      .columns.three.logo
        a(href="")
          h1 ref 
            span.pointer *
            span.version v#{package.version}
      .columns.thirteen
        h3 Turn Buffer instances into "pointers"
      .columns.sixteen.intro
        h4 What is <code>ref</code>?
        p
          code ref
          |  is a native addon for 
          a(href="http://nodejs.org") Node.js
          |  that extends the built-in 
          a(href="http://nodejs.org/api/buffer.html")
            code Buffer
            |  class
          |  with some fancy additions like:
          ul
            li Getting the memory address of a Buffer
            li Checking if a Buffer represents the NULL pointer
            li Reading and writing "pointers" with Buffers
            li Reading and writing C Strings (NULL-terminated)
            li Reading and writing JavaScript Object references
            li Reading and writing 
              strong int64_t
              |  and 
              strong uint64_t
              |  values
            li A "type" convention to define the contents of a Buffer
        p
          | There is indeed a lot of 
          em meat 
          |  to 
          code ref
          | , but it all fits together in one way or another in the end.
          br
          | For simplicity, 
          code ref
          | 's API can be broken down into 3 sections:
      a.nav.columns.five(href='#exports')
        h4 ref <code>exports</code>
        p
          | All the static versions of 
          code ref
          | 's functions and default "types" available on the exports returned from 
          code require('ref')
          | .
      a.nav.columns.five(href='#types')
        h4 <em>"type"</em> system
        p
          | The 
          em "type"
          |  system allows you to define a "type" on any Buffer instance, and then
          |  use generic 
          code ref()
          |  and 
          code deref()
          | functions to reference and dereference values.
      a.nav.columns.five(href='#extensions')
        h4 <code>Buffer</code> extensions
        p
          code Buffer.prototype
          |  gets extended with some convenience functions. These all just mirror
          |  their static counterpart, using the Buffer's 
          code this
          |  variable as the 
          code buffer
          |  variable.

      hr

      .columns.six.section.exports
        a(name="exports")
        a(href="#exports")
          h2 ref exports
      .columns.sixteen.intro
        p
          | ref exports are the results of 
          code require('ref')
          | .

      each doc in exports
        if (!doc.ignore)
          .columns.sixteen
            a(name='exports-' + doc.ctx.name)
            a(href='#exports-' + doc.ctx.name)
              h3 ref.#{doc.ctx.name}()

      hr

      .columns.six.section.exports
        a(name="types")
        a(href="#types")
          h2
            em "type"
            |  system
      .columns.sixteen.intro
        p
          | the type system

      hr

      .columns.six.section.exports
        a(name="extensions")
        a(href="#extensions")
          h2 Buffer extensions
      .columns.sixteen.intro
        p
          | the buffer extensions

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='scripts/main.js')
