doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title "ref" documentation
    meta(name="description", content="Turn Buffer instances into \"pointers\"")
    meta(name="author", content="Nathan Rajlich")

    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    link(rel="stylesheet", href="stylesheets/base.css")
    link(rel="stylesheet", href="stylesheets/skeleton.css")
    link(rel="stylesheet", href="stylesheets/layout.css")

    link(rel="shortcut icon", href="images/favicon.ico")
    link(rel="apple-touch-icon", href="images/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="images/apple-touch-icon-114x114.png")

  body
    .container
      .columns.three.logo
        h1 ref 
          span *
      .columns.thirteen
        h3 Turn Buffer instances into "pointers"
      .columns.sixteen.intro
        h4 What is <code>ref</code>?
        p
          code ref
          |  is a native addon for 
          a(href="http://nodejs.org") Node.js
          |  that extends the built-in 
          a(href="http://nodejs.org/api/buffer.html")
            code Buffer
            |  class
          |  with some fancy additions like:
          ul
            li Getting the memory address of a Buffer
            li Checking if a Buffer represents the NULL pointer
            li Reading and writing "pointers" with Buffers
            li Reading and writing C Strings (NULL-terminated)
            li Reading and writing JavaScript Object references
            li Reading and writing 
              strong int64_t
              |  and 
              strong uint64_t
              |  values
            li A "type" convention to define the contents of a Buffer
        p
          | There is indeed a lot of 
          em meat 
          |  to 
          code ref
          | , but it all fits together in one way or another in the end. For
          | simplicity, 
          code ref
          | 's API can be broken down into 3 sections:
      a.nav.columns.five(href='#')
        h4 ref <code>exports</code>
        p
          | All the static versions of 
          code ref
          | 's functions and default "types" are located in 
          code ref
          | 's 
          code exports
          | .
      a.nav.columns.five(href='#')
        h4 <em>"type"</em> system
        p
          | The 
          em "type"
          |  system allows you to define a "type" on any Buffer instance, and then
          |  use generic 
          code ref()
          |  and 
          code deref()
          | functions to reference and dereference values.
      a.nav.columns.five(href='#')
        h4 <code>Buffer</code> extensions
        p
          code ref
          |  extends 
          code Buffer.prototype
          |  with some convenience functions. These all just mirror their 
          code ref
          |  export counterpart, using the Buffer's 
          code this
          |  variable as the 
          code buffer
          |  variable.
